<#include "inc/layout.html" />
<#macro import_css>

</#macro>
<#macro import_script>
    <script type="text/javascript" src="${REQ}/assets/js/app.auth.js"></script>
</#macro>
<@layout title="企业认证">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo logo" style="width:100px"><img src="${REQ}/assets/img/sy_logo.png" alt=""/></div>


        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><img src="${REQ}/assets/img/hy.png" alt=""/></li>
            <!--<li class="layui-nav-item"><a href="javascript:;"><span>&lt;</span><span>&gt;</span></a></li>-->

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><img src="${REQ}/assets/img/zy_mrtx.png" alt=""/></li>
            <li class="layui-nav-item">你好，<span><@shiro.principal property="username"></@shiro.principal></span></li>
            <li class="layui-nav-item wrz"><img src="${REQ}/assets/img/zy_wrz.png" alt=""/></li>
            <li class="layui-nav-item aqtc" id="aqtc"><a href="${REQ}/logout.html">安全退出</a></li>
        </ul>
    </div>

    <div class="identifybodyrz">
        <!-- 内容主体区域 -->
        <h3>企业认证</h3>
        <div class="upbody">
            <h5>上传图片要求</h5>
            <p>1. 2M以内，JPG/PNG格式的清晰图片;</p>
            <p>2. 我司资质验证系统已与工商部门联网，请勿提供虚假证件。</p>
            <div class="yytitle"><p>营业执照</p><span></span></div>
            <div class="upload">
                <dl id="test1">
                    <dt><img src="${REQ}/assets/img/sczp.png" alt="" id="demo1"/></dt>
                </dl>
                <div class="qyinput">
                    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;企业名称</span><input type="text" name="cname" placeholder=""/></p>
                    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;注册地址</span><input type="text" name="address"/></p>
                    <p><span>营业执照号</span><input type="text" name="businessCode"/></p>
                    <input type="hidden" name="businessUrl"/>
                </div>
            </div>
            <div class="yytitle"><p>资质证书</p><span></span></div>
            <div class="upload">
                <dl id="test2">
                    <dt><img src="${REQ}/assets/img/sczp.png" alt="" id="demo2"/></dt>
                </dl>
                <div class="qyinput">
                    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;证书编号</span><input type="text" name="certificatesCode"/></p>
                </div>
            </div>
        </div>
        <p class="tj"><a href="javascript:;">提交</a></p>
    </div>

</div>
</@layout>