<#assign REQ=request.contextPath>
<#assign REQ_URI=request.getRequestURI>
<#macro import_script></#macro>
<#macro import_css></#macro>
<#macro layout title bodyCss>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>${title!"登录"} - 浙江易建易工网络科技有限公司</title>
    <link href="${REQ}/assets/favicon/favicon@5.ico" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="${REQ}/assets/favicon/favicon@5.ico" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="${REQ}/assets/favicon/favicon@4.ico" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="${REQ}/assets/favicon/favicon@3.ico" rel="apple-touch-icon" type="image/png">
    <link href="${REQ}/assets/favicon/favicon@2.ico" rel="icon" type="image/png">
    <link href="${REQ}/assets/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="${REQ}/assets/css/layui.css">
    <link rel="stylesheet" type="text/css" href="${REQ}/assets/css/app.css">
    <@import_css />
</head>
<body <#if bodyCss??>class="${bodyCss}"</#if> >
    <#nested>
    <script type="text/javascript">window.BASE_URL = "${REQ}";</script>
    <script type="text/javascript" src="${REQ}/assets/js/jquery.min.js" ></script>
    <script type="text/javascript" src="${REQ}/assets/layui.js"></script>
    <script type="text/javascript" src="${REQ}/assets/js/app.js" ></script>
    <@import_script />
</body>
</html>
</#macro>