<#include "inc/layout.html" />
<#macro import_css>
    <link rel="stylesheet" type="text/css" href="${REQ}/assets/css/jquery.step.css">
</#macro>
<#macro import_script>
    <script type="text/javascript" src="${REQ}/assets/js/jquery.step.min.js"></script>
    <script type="text/javascript" src="${REQ}/assets/js/app.password.js"></script>
</#macro>
<@layout title="更改手机号">
<!--账号信息-->
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo logo" style="width:100px"><img src="${REQ}/assets/img/sy_logo.png" alt=""/></div>
        <div id="dewm">
            <img src="${REQ}/assets/img/ewm1.png" alt=""/>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><img src="${REQ}/assets/img/hy.png" alt=""/></li>
            <!--<li class="layui-nav-item"><a href="javascript:;"><span>&lt;</span><span>&gt;</span></a></li>-->
            <li class="layui-nav-item"><a href="javascript:;" id="ewm"><img src="${REQ}/assets/img/zy_ewm.png" alt=""/></a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="${REQ}/profile.html" style="padding:0 6px">
                    <img src="${REQ}/assets/img/zy_mrtx.png" alt=""/>
                </a>
                <!--<img src="http://res.ejegweb.com<@shiro.principal property='avatar'></@shiro.principal>" style="width:30px; height:30px;" />-->
            </li>
            <li class="layui-nav-item">你好，<span><@shiro.principal property="username"></@shiro.principal></span></li>
            <li class="layui-nav-item"><img class="wrz" src="${REQ}/assets/img/yrz.png" alt=""/></li>
            <li class="layui-nav-item lxdh" id="lxdh"><a href="javascript:;">联系电话</a></li>
            <li class="layui-nav-item aqtc" id="aqtc"><a href="logout.html" class="tc">安全退出</a></li>
        </ul>
    </div>

    <div class="psdbody">
        <h5>修改手机号码</h5>
        <div class="main">
            <div id="step"></div>
            <ul class="srk">
                <li>
                    <p><input type="text" placeholder="请输入原手机号码" name="oldMobile"/></p>
                    <p><input type="text" placeholder="验证码" name="oldCode"/><input class="getold" type="button" value="获取验证码"/></p>
                </li>
                <li>
                    <p><input type="text" placeholder="请输入新手机号码" name="newMobile"/></p>
                    <p><input type="text" placeholder="验证码" name="newCode"/><input class="getnew" type="button" value="获取验证码"/></p>
                </li>
                <li>

                </li>
            </ul>
            <div class="btns">
                <button id="nextBtn">下一步</button>
            </div>

        </div>
    </div>

</div>
</@layout>












































